body {

    background-color: cornsilk;
    color: #000000;
  
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
  
    line-height: 1.6;
    font-size: 112.5%;
  
    padding-top: 2%;
    
  }
  
  .container {
    max-width: 75%;
    margin: 0 auto;
    padding: 3%;
    background-color: white;
    
  }
  
  .button {
  background-color: rgb(78, 75, 75);
  color: white;
  padding: 2%;
  }
  
  a{
    color: white;
    font-size: 160%;
  }
  
  a:hover{
    color: cyan;
  }
  