nav {
    background-color: #1a1a1a;
    padding: 2%;
    text-align: right;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 115.5%;
    padding: 2%
  }
  
  nav a:hover,
  nav a:focus {
    background-color: #333333;
  }
  